  </div>
  <div class="container">
    <br>
    <hr>
    <footer>
      &copy; 2018. Sportsblog
    </footer>
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
