<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>TodoApp</title>
  </head>
  <body>
    <div class="container">
        <h1><%= title %></h1>
